body {
    font-family: Arial, sans-serif;
    background-color: hsl(264, 73%, 82%);
    margin: 0;
}

header {
    background-color: hsl(0, 0%, 100%);
    color: #fff;
    padding: 10px 0;
    position: relative;
}

footer {
    background-color: #ffffff;
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 10px 0;
}


.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #070707;
    border-radius: 10px;
    background-color: #ffffff;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
}
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2472A5;
    color: #ffffff;
    cursor: pointer;
}

.button-container {
    text-align: center;
}

.button-container {
    text-align: center;
}

.menu-toggle {
    display: block;
}

.logo {
    padding-left: 500px;
}


button:hover {
    background-color: hsl(0, 2%, 56%);
}